In [1]:
# Import Dependencies
import os
import pandas as pd
import glob

In [2]:
# Get a list of all CSV file paths in the repository
csv_files = glob.glob('*.csv')

# Create an empty list to store the DataFrames
dataframes = []

# Read each CSV file into a DataFrame and append it to the list
for file in csv_files:
    df = pd.read_csv(file)
    dataframes.append(df)

# Access each individual DataFrame using: dataframes[0], dataframes[1], etc.
dataframes[1].head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,557150C42CBD584B,classic_bike,2023-02-16 18:05:38,2023-02-16 18:13:47,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743190,-74.040126,40.736982,-74.027781,member
1,9F1B2C0BCD476C66,classic_bike,2023-02-15 19:20:33,2023-02-15 19:27:06,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743222,-74.040081,40.736982,-74.027781,member
2,4A4A29A7C1B54278,classic_bike,2023-02-18 14:58:16,2023-02-18 15:06:15,Mama Johnson Field - 4 St & Jackson St,HB404,12 St & Sinatra Dr N,HB201,40.743140,-74.040041,40.750604,-74.024020,casual
3,BBF4E1D39D41D78C,classic_bike,2023-02-24 15:16:12,2023-02-24 15:24:17,Mama Johnson Field - 4 St & Jackson St,HB404,Mama Johnson Field - 4 St & Jackson St,HB404,40.743187,-74.040179,40.743140,-74.040041,member
4,3CECAA17C4ABBF30,classic_bike,2023-02-16 18:05:02,2023-02-16 18:05:04,Mama Johnson Field - 4 St & Jackson St,HB404,Mama Johnson Field - 4 St & Jackson St,HB404,40.743172,-74.040054,40.743140,-74.040041,member

In [4]:
# Count number of dataframes in the list
len(dataframes)

10

In [5]:
# For each dataframe create a list of columns and print the column names
for df in dataframes:
    columns = df.columns.tolist()
    print(columns)

# This validates the column order and the number of columns in each dataframe

['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']

In [6]:
# Merge all dataframes into one dataframe
merged_df = pd.concat(dataframes)

# Print the merged dataframe
merged_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0905B18B365C9D20,classic_bike,2023-01-28 09:18:10,2023-01-28 09:28:52,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735938,-74.030305,40.727596,-74.044247,member
1,B4F0562B05CB5404,electric_bike,2023-01-23 20:10:12,2023-01-23 20:18:27,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Southwest Park - Jackson St & Observer Hwy,HB401,40.735938,-74.030305,40.737551,-74.041664,member
2,5ABF032895F5D87E,classic_bike,2023-01-29 15:27:04,2023-01-29 15:32:38,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marshall St & 2 St,HB408,40.735944,-74.030383,40.740802,-74.042521,member
3,E7E1F9C53976D2F9,classic_bike,2023-01-24 18:35:08,2023-01-24 18:42:13,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735986,-74.030364,40.727596,-74.044247,member
4,323165780CA0734B,classic_bike,2023-01-21 20:44:09,2023-01-21 20:48:08,Hamilton Park,JC009,Manila & 1st,JC082,40.727596,-74.044247,40.721651,-74.042884,member

In [12]:
# Pull all stations into one dataframe
stations_df = merged_df.loc[:, ['start_station_name', 'start_station_id', 'start_lat', 'start_lng']]

# Reorder the columns in the dataframe
stations_df = stations_df.reindex(columns=['start_station_id', 'start_station_name', 'start_lat', 'start_lng'])

# Rename the columns in the dataframe
stations_df = stations_df.rename(columns={'start_station_id': 'station_id', 'start_station_name': 'name', 'start_lat': 'lat', 'start_lng': 'lng'})

# Drop duplicate rows from the dataframe
stations_df.drop_duplicates(subset=['station_id', 'name'], keep='first', inplace=True)

# Count and print number of unique stations
station_count = stations_df['station_id'].nunique()
print(f'There are {station_count} stations in the dataset.')

There are 312 stations in the dataset.

In [16]:
# Create a new dataframe from merged_df that only includes the columns needed for the rides table
ride_df = merged_df.loc[:, ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_id', 'end_station_id', 'member_casual']]

# Rename the columns in the dataframe
ride_df = ride_df.rename(columns={'started_at': 'start_time', 'ended_at': 'end_time', 'member_casual': 'member'})

ride_df.head()

,ride_id,rideable_type,start_time,end_time,start_station_id,end_station_id,member
0,0905B18B365C9D20,classic_bike,2023-01-28 09:18:10,2023-01-28 09:28:52,HB101,JC009,member
1,B4F0562B05CB5404,electric_bike,2023-01-23 20:10:12,2023-01-23 20:18:27,HB101,HB401,member
2,5ABF032895F5D87E,classic_bike,2023-01-29 15:27:04,2023-01-29 15:32:38,HB101,HB408,member
3,E7E1F9C53976D2F9,classic_bike,2023-01-24 18:35:08,2023-01-24 18:42:13,HB101,JC009,member
4,323165780CA0734B,classic_bike,2023-01-21 20:44:09,2023-01-21 20:48:08,JC009,JC082,member